{#{% load static %}#}
{##}
{#<!doctype html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport"#}
{#          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">#}
{#    <meta http-equiv="X-UA-Compatible" content="ie=edge">#}
{#    <title>EB Docker</title>#}
{##}
{##}
{#    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">#}
{#</head>#}
{#<body>#}
{#<div class="container">#}
{#    <table class="table">#}
{#        <thead class="thead-dark">#}
{#        <tr>#}
{#            <th scope="col">ID</th>#}
{#            <th scope="col">email</th>#}
{#            <th scope="col">username</th>#}
{#            <th scope="col">Profile Img</th>#}
{##}
{#        </tr>#}
{#        </thead>#}
{##}
{#        <tbody>#}
{##}
{#        {% for user in users %}#}
{#            <tr>#}
{#                <th scope="row">{{ user.pk }}</th>#}
{#                <td>{{ user.email }}</td>#}
{#                <td>{{ user.username }}</td>#}
{#                {% if user.img_profile %}#}
{#                    <td><img src="{{ user.img_profile.url }}" alt=""></td>#}
{#                {% endif %}#}
{#            </tr>#}
{#        {% endfor %}#}
{#        </tbody>#}
{#    </table>#}
{#</div>#}
{#</body>#}
{#</html>#}